## AGNi Mounts (I9300)

on early-fs
    mkdir /system
    mkdir /data
    mkdir /cache
    mkdir /preload
    wait /dev/block/mmcblk0p9
    wait /dev/block/mmcblk0p12
    wait /dev/block/mmcblk0p8
    wait /dev/block/mmcblk0p10
    wait /proc/mounts
    exec /sbin/fs_checker.sh
    wait /fs_checker_status

